.addButton {
  background-color: #646ff0;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.8rem 2rem;
}
